:root {
  --kolor-domyslny: #212121;
  --kolor-logo: #2196f3;
  --kolor-kontakt: #757575;
  --kolor-przycisk-nieaktywny: #f5f4fa;
  --kolor-stopka: #2f303a;
  --kolor-margines-poziomy: #ececec;
  --kolor-tlo: #e5e5e5;
  --kolor-ramki-zdjec: #eeeeee;
  --kolor-ikon:  #AFB1B8;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
}

table {
  border-collapse: collapse;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
}

img {
  display: block;

}

.strona {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.odstep-sekcji {
  padding: 94px 0px;
}

.odstep-sekcji-dolny {
  padding-bottom: 94px;
}

.sekcja-naglowek {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;  
  color: #212121;
  text-align: center;
  padding-bottom: 50px;
}

.naglowek {
  display: flex;
  background-color: white;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.stopka {
  display: flex;
  background-color: var(--kolor-stopka);
  color: white;
  padding: 60px 15px;
  gap: 70px;
}

.stopka-2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 12px;
  margin-bottom: 20px;
  }


.ogloszenie {
  text-align: center;
  background-color: var(--kolor-stopka);
  padding-top: 200px;
  padding-bottom: 280px;
  background-image: url("../images/tlo.png");
}

.odstep {
  border-bottom: 1px solid var(--kolor-margines-poziomy);
}

.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--kolor-logo);
}

.logo-margines-lewy {
margin-left:15px;
}

.logo .logo-stopka-gora {
  color: var(--kolor-domyslny);
}

.logo > .logo-stopka-dol {
  color: white;
}

.link {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--kolor-domyslny);
}

.link:visited {
  color: var(--kolor-domyslny);
}

.link:hover,
.link:focus {
  color: var(--kolor-logo);
}

.kontakt {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--kolor-kontakt);
}

.kontakt-adres {
  padding-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.kontakt-adres:hover {
  text-decoration-color: var(--kolor-logo);
}

.kontakt-stopka {
  letter-spacing: 0.03em;
  font-weight: 400;
}

/* .kontakt:hover {
  text-decoration-color: var(--kolor-logo);
} */



.wiersz-przyciskow {
  padding-bottom: 50px;
  display: flex; 
  gap: 8px;
  justify-content: center;
  }

.przycisk {
  
  height: 38px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--kolor-domyslny);
  background: var(--kolor-przycisk-nieaktywny);
  border-radius: 4px;
  border-width: 1px;
  padding: 6px 22px;
}

.przycisk-usluga {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  /* align-items: center;
  text-align: center; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  padding-right: 41px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  color: #FFFFFF
  background: var(--kolor-logo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.przycisk:hover {
  border-color: var(--kolor-logo);
  border-width: 1px;
}

.przycisk-aktywny {
  color: white;
  background: var(--kolor-logo);
  border-width: 1px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.przycisk-aktywny :hover {
  border-color: var(--kolor-logo);
  border-width: 1px;
}

.wiersz-obrazow {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.kolumna-obrazow {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.wiersz-obrazow div div {
  border: 1px solid var(--kolor-ramki-zdjec);
}

.wiersz-obrazow figure {
  /* border: 1px solid green; */
  border-radius: 0px 0px 4px 4px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  /* var(--kolor-ramki-zdjec); */
}

.obraz {
  width: 370px;
  height: 294px;
}

.obraz-tytul {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.obraz-opis {
  padding-left: 24px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.obraz-zespol-imie {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
  }

.obraz-zespol-tytul {
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
margin-top: 10px;
margin-bottom: 16px;
}

.icon {
   /* border-radius: 8px; */
  fill: #2a2a2a;
}

.icon2 {
  /* width:"106";
  height:"60"; */
  fill: var(--kolor-ikon);
}

.kontakt-icon {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 10px;
  }

  .tabela-ipsum {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .tabela-ipsum2 {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .box {
    display: flex;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
  }

  .box2 {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid var(--kolor-ikon);
    border-radius: 4px;
    background-color:white;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .kolo {
    display: flex;
    width: 44px;
    height: 44px;
    gap:10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
  }

  .icon-social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 10px;
    color: var(--kolor-ikon);
  }

.icon-social-media-stopka {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  fill: white
}



